In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

nics = pd.read_csv('nics.csv')
census = pd.read_csv('nst-est2019-popchg2010_2019.csv')

In [2]:
nics

           month                 state  totals  year
0       4/1/2020               Alabama   70748  2020
1       4/1/2020                Alaska    8560  2020
2       4/1/2020               Arizona   59986  2020
3       4/1/2020              Arkansas   30575  2020
4       4/1/2020            California  122999  2020
5       4/1/2020              Colorado   52249  2020
6       4/1/2020           Connecticut   12986  2020
7       4/1/2020              Delaware    5701  2020
8       4/1/2020  District of Columbia     552  2020
9       4/1/2020               Florida  128670  2020
10      4/1/2020               Georgia   52299  2020
11      4/1/2020                  Guam     222  2020
12      4/1/2020                Hawaii    1818  2020
13      4/1/2020                 Idaho   21747  2020
14      4/1/2020              Illinois  632564  2020
15      4/1/2020               Indiana   88276  2020
16      4/1/2020                  Iowa   26108  2020
17      4/1/2020                Kansas   18994  2020
18      4/1/2020              Kentucky  205536  2020
19      4/1/2020             Louisiana   31559  2020
20      4/1/2020                 Maine   11589  2020
21      4/1/2020       Mariana Islands       9  2020
22      4/1/2020              Maryland   20963  2020
23      4/1/2020         Massachusetts    7934  2020
24      4/1/2020              Michigan   53914  2020
25      4/1/2020             Minnesota   75099  2020
26      4/1/2020           Mississippi   29581  2020
27      4/1/2020              Missouri   58011  2020
28      4/1/2020               Montana   14690  2020
29      4/1/2020              Nebraska    7517  2020
...          ...                   ...     ...   ...
14160  11/1/1998             Minnesota     319  1998
14161  11/1/1998           Mississippi     784  1998
14162  11/1/1998              Missouri     578  1998
14163  11/1/1998               Montana     201  1998
14164  11/1/1998              Nebraska     186  1998
14165  11/1/1998                Nevada     159  1998
14166  11/1/1998         New Hampshire      55  1998
14167  11/1/1998            New Jersey      77  1998
14168  11/1/1998            New Mexico     211  1998
14169  11/1/1998              New York     319  1998
14170  11/1/1998        North Carolina    1310  1998
14171  11/1/1998          North Dakota      58  1998
14172  11/1/1998                  Ohio     952  1998
14173  11/1/1998              Oklahoma     633  1998
14174  11/1/1998                Oregon     344  1998
14175  11/1/1998          Pennsylvania      17  1998
14176  11/1/1998           Puerto Rico       2  1998
14177  11/1/1998          Rhode Island      38  1998
14178  11/1/1998        South Carolina       6  1998
14179  11/1/1998          South Dakota      74  1998
14180  11/1/1998             Tennessee     107  1998
14181  11/1/1998                 Texas    2794  1998
14182  11/1/1998                  Utah     267  1998
14183  11/1/1998               Vermont      59  1998
14184  11/1/1998        Virgin Islands       0  1998
14185  11/1/1998              Virginia      24  1998
14186  11/1/1998            Washington     361  1998
14187  11/1/1998         West Virginia     408  1998
14188  11/1/1998             Wisconsin     241  1998
14189  11/1/1998               Wyoming     107  1998

[14190 rows x 4 columns]

In [6]:
condensed_nics = nics.groupby(['year', 'state']).sum()

In [17]:
condensed_nics

                           totals
year state
1998 Alabama                36568
     Alaska                  3985
     Arizona                17453
     Arkansas               21752
     California             67445
     Colorado               23798
     Connecticut             6870
     Delaware                2135
     District of Columbia       0
     Florida                32341
     Georgia                 3819
     Guam                       9
     Hawaii                   431
     Idaho                   7339
     Illinois               41477
     Indiana                22518
     Iowa                   14650
     Kansas                 12386
     Kentucky               31869
     Louisiana              27642
     Maine                   4106
     Mariana Islands            0
     Maryland                9007
     Massachusetts           1443
     Michigan               30596
     Minnesota              12116
     Mississippi            26097
     Missouri               24087
     Montana                 6406
     Nebraska                6655
...                           ...
2020 Minnesota             289917
     Mississippi           108372
     Missouri              226574
     Montana                51522
     Nebraska               32308
     Nevada                 65000
     New Hampshire          58806
     New Jersey             36855
     New Mexico             65958
     New York              151075
     North Carolina        256613
     North Dakota           26303
     Ohio                  301838
     Oklahoma              158564
     Oregon                169113
     Pennsylvania          382611
     Puerto Rico             4689
     Rhode Island           15455
     South Carolina        156730
     South Dakota           34783
     Tennessee             277536
     Texas                 743658
     Utah                  361963
     Vermont                19335
     Virgin Islands           391
     Virginia              284187
     Washington            230863
     West Virginia          87691
     Wisconsin             213334
     Wyoming                27897

[1265 rows x 1 columns]

In [23]:
(condensed_nics)

                           totals
year state
1998 Alabama                36568
     Alaska                  3985
     Arizona                17453
     Arkansas               21752
     California             67445
     Colorado               23798
     Connecticut             6870
     Delaware                2135
     District of Columbia       0
     Florida                32341
     Georgia                 3819
     Guam                       9
     Hawaii                   431
     Idaho                   7339
     Illinois               41477
     Indiana                22518
     Iowa                   14650
     Kansas                 12386
     Kentucky               31869
     Louisiana              27642
     Maine                   4106
     Mariana Islands            0
     Maryland                9007
     Massachusetts           1443
     Michigan               30596
     Minnesota              12116
     Mississippi            26097
     Missouri               24087
     Montana                 6406
     Nebraska                6655
...                           ...
2020 Minnesota             289917
     Mississippi           108372
     Missouri              226574
     Montana                51522
     Nebraska               32308
     Nevada                 65000
     New Hampshire          58806
     New Jersey             36855
     New Mexico             65958
     New York              151075
     North Carolina        256613
     North Dakota           26303
     Ohio                  301838
     Oklahoma              158564
     Oregon                169113
     Pennsylvania          382611
     Puerto Rico             4689
     Rhode Island           15455
     South Carolina        156730
     South Dakota           34783
     Tennessee             277536
     Texas                 743658
     Utah                  361963
     Vermont                19335
     Virgin Islands           391
     Virginia              284187
     Washington            230863
     West Virginia          87691
     Wisconsin             213334
     Wyoming                27897

[1265 rows x 1 columns]

In [72]:
years = np.unique(nics['year'])
states = np.unique(nics['state'])

In [30]:
condensed_nics.loc[[2000]]

                           totals
year state
2000 Alabama               221911
     Alaska                 39959
     Arizona               148263
     Arkansas              169628
     California            794506
     Colorado              307512
     Connecticut            87586
     Delaware               15347
     District of Columbia      17
     Florida               266035
     Georgia               352357
     Guam                     279
     Hawaii                  6609
     Idaho                  77138
     Illinois              449771
     Indiana               182319
     Iowa                   87796
     Kansas                 96716
     Kentucky              229896
     Louisiana             174706
     Maine                  45028
     Mariana Islands           13
     Maryland               84309
     Massachusetts          54843
     Michigan              300661
     Minnesota             185100
     Mississippi           163980
     Missouri              191578
     Montana                71115
     Nebraska               44825
     Nevada                 49807
     New Hampshire          40120
     New Jersey             37106
     New Mexico             84034
     New York              163974
     North Carolina        290884
     North Dakota           32358
     Ohio                  274165
     Oklahoma              156988
     Oregon                135336
     Pennsylvania          481294
     Puerto Rico             5301
     Rhode Island            9414
     South Carolina        128618
     South Dakota           36723
     Tennessee             234673
     Texas                 662970
     Utah                   67420
     Vermont                20300
     Virgin Islands             0
     Virginia              188508
     Washington            134255
     West Virginia         128258
     Wisconsin             180492
     Wyoming                34295

In [34]:
condensed_nics.loc[[2000]].index.remove_unused_levels()

MultiIndex(levels=[[2000], ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Mariana Islands', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]],
           names=['year', 'state'])

In [40]:
pop_years = range(2010,2020)

In [41]:
pop_years

range(2010, 2020)

In [67]:
#create empty population estimate column
condensed_nics['pop_est'] =""
condensed_nics.loc[2000,'Alabama']

totals     221911
pop_est
Name: (2000, Alabama), dtype: object

In [68]:
# condensed_nics.xs((2010, 'Alabama'))['pop_est'] = 20
condensed_nics.loc[2010, 'Alabama'] = [221911, 2]

In [101]:
#fill condensed_nics df with sum of nics queries per year and population estimate values
for year in pop_years:
    temp = 'POPESTIMATE' + str(year)
    for state in states:
        tot = condensed_nics.loc[year, state][0]
        pop = census[census.NAME == state][temp].values.flatten()
        if pop:
            print(pop[0])
            condensed_nics.loc[year, state] = [tot, pop[0]]

4785437
713910
6407172
2921964
37319502
5047349
3579114
899593
605226
18845537
9711881
1363963
1570746
12840503
6490432
3050745
2858190
4348181
4544532
1327629
5788645
6566307
9877510
5310828
2970548
5995974
990697
1829542
2702405
1316762
8799446
2064552
19399878
9574323
674715
11539336
3759944
3837491
12711160
3721525
1053959
4635649
816166
6355311
25241971
2775332
625879
8023699
6742830
1854239
5690475
564487
4799069
722128
6472643
2940667
37638369
5121108
3588283
907381
619800
19053237
9802431
1379329
1583910
12867454
6516528
3066336
2869225
4369821
4575625
1328284
5839419
6613583
9882412
5346143
2978731
6010275
997316

/srv/app/venv/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

1840672
2712730
1320202
8828117
2080450
19499241
9657592
685225
11544663
3788379
3872036
12745815
3678732
1053649
4671994
823579
6399291
25645629
2814384
627049
8101155
6826627
1856301
5705288
567299
4815588
730443
6554978
2952164
37948800
5192647
3594547
915179
634924
19297822
9901430
1394804
1595324
12882510
6537703
3076190
2885257
4386346
4600972
1327729
5886992
6663005
9897145
5376643
2983816
6024367
1003783
1853303
2743996
1324232
8844942
2087309
19572932
9749476
701176
11548923
3818814
3899001
12767118
3634488
1054621
4717354
833566
6453898
26084481
2853375
626090
8185080
6897058
1856872
5719960
576305
4830081
737068
6632764
2959400
38260787
5269035
3594841
923576
650581
19545621
9972479
1408243
1611206
12895129
6568713
3092997
2893212
4404659
4624527
1328009
5923188
6713315
9913065
5413479
2988711
6040715
1013569
1865279
2775970
1326622
8856972
2092273
19624447
9843336
722036
11576684
3853214
3922468
12776309
3593077
1055081
4764080
842316
6494340
26480266
2897640
626210
8252427
6963985
1853914
5736754
582122
4841799
736283
6730413
2967392
38596972
5350101
3594524
932487
662328
19845911
10067278
1414538
1631112
12884493
6593644
3109350
2900475
4414349
4644013
1330513
5957283
6762596
9929848
5451079
2990468
6056202
1021869
1879321
2817628
1333341
8864525
2089568
19651049
9932887
737401
11602700
3878187
3963244
12788313
3534874
1055936
4823617
849129
6541223
26964333
2936879
625214
8310993
7054655
1849489
5751525
582531
4852347
737498
6829676
2978048
38918045
5450623
3587122
941252
675400
20209042
10178447
1422052
1651059
12858913
6608422
3120960
2909011
4425976
4664628
1328262
5985562
6794228
9931715
5482032
2988471
6071732
1030475
1891277
2866939
1336350
8867949
2089291
19654666
10031646
754066
11617527
3909500
4015792
12784826
3473232
1056065
4891938
853988
6591170
27470056
2981835
625216
8361808
7163657
1842050
5760940
585613
4863525
741456
6941072
2989918
39167117
5539215
3578141
948921
685815
20613477
10301890
1427559
1682380
12820527
6634304
3131371
2910844
4438182
4678135
1331317
6003323
6823608
9950571
5522744
2987938
6087135
1040859
1905616
2917563
1342307
8870827
2091630
19633428
10154788
754434
11634370
3926331
4089976
12782275
3406672
1056770
4957968
862996
6646010
27914410
3041868
623657
8410106
7294771
1831023
5772628
584215
4874486
739700
7044008
3001345
39358497
5611885
3573297
956823
694906
20963613
10410330
1424393
1717715
12778828
6658078
3141550
2908718
4452268
4670560
1334612
6023868
6859789
9973114
5566230
2988510
6106670
1052482
1915947
2969905
1348787
8885525
2091784
19589572
10268233
754942
11659650
3931316
4143625
12787641
3325286
1055673
5021268
872868
6708799
28295273
3101042
624344
8463587
7423362
1817004
5790186
578931
4887681
735139
7158024
3009733
39461588
5691287
3571520
965479
701547
21244317
10511131
1420593
1750536
12723071
6695497
3148618
2911359
4461153
4659690
1339057
6035802
6882635
9984072
5606249
2981020
6121623
1060665
1925614
3027341
1353465
8886025
2092741
19530351
10381615
758080
11676341
3940235
4181886
12800922
3193354
1058287
5084156
878698
6771631
28628666
3153550
624358
8501286
7523869
1804291
5807406
577601
4903185
731545
7278717
3017804
39512223
5758736
3565287
973764
705749
21477737
10617423
1415872
1787065
12671821
6732219
3155070
2913314
4467673
4648794
1344212
6045680
6892503
9986857
5639632
2976149
6137428
1068778
1934408
3080156
1359711
8882190
2096829
19453561
10488084
762062
11689100
3956971
4217737
12801989
3193694
1059361
5148714
884659
6829174
28995881
3205958
623989
8535519
7614893
1792147
5822434
578759

In [102]:
#check
condensed_nics.loc[2011]

                       totals   pop_est
state
Alabama                336102   4799069
Alaska                  70198    722128
Arizona                251477   6472643
Arkansas               206228   2940667
California             905701  37638369
Colorado               336296   5121108
Connecticut            186068   3588283
Delaware                22490    907381
District of Columbia      300    619800
Florida                643229  19053237
Georgia                367894   9802431
Guam                      511        []
Hawaii                  12635   1379329
Idaho                  106616   1583910
Illinois               828962  12867454
Indiana                359840   6516528
Iowa                   179944   3066336
Kansas                 164898   2869225
Kentucky              2280832   4369821
Louisiana              264552   4575625
Maine                   73127   1328284
Mariana Islands             1        []
Maryland               103020   5839419
Massachusetts          153487   6613583
Michigan               356635   9882412
Minnesota              337534   5346143
Mississippi            185059   2978731
Missouri               394923   6010275
Montana                108974    997316
Nebraska                65860   1840672
Nevada                 118740   2712730
New Hampshire           90984   1320202
New Jersey              60256   8828117
New Mexico             115620   2080450
New York               271837  19499241
North Carolina         375211   9657592
North Dakota            61032    685225
Ohio                   468974  11544663
Oklahoma               271816   3788379
Oregon                 209781   3872036
Pennsylvania           718934  12745815
Puerto Rico             11525   3678732
Rhode Island            17271   1053649
South Carolina         229419   4671994
South Dakota            69654    823579
Tennessee              451107   6399291
Texas                 1155387  25645629
Utah                  1020789   2814384
Vermont                 27292    627049
Virgin Islands           1356        []
Virginia               331468   8101155
Washington             394410   6826627
West Virginia          185491   1856301
Wisconsin              322761   5705288
Wyoming                 52224    567299

In [103]:
condensed_nics.to_csv('nics_census.csv')